* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #f2f2f2;
}

.title {
  text-align: center;
  padding-top: 150px;
}

.main-title {
  font-size: 50px;
  font-family: 'Jost', sans-serif;
}
.subtitle {
}

.box {
  background: #fff;
  box-shadow: 3px 5px 5px rgba(51, 51, 51, 0.295);
  border-radius: 4px;
  box-sizing: border-box;
  height: auto;
  max-width: 400px;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}

.form-container {
  width: 100%;
}

form {
  width: 100%;
  text-align: center;
}

.input {
  margin: 10px 0;
  padding: 5px;
  font-size: 12px;
  width: 60%;
}

.item-container {
  width: 100%;
}

.list-item {
  margin: 5px;
  text-align: center;
  font-size: 18px;
}

.list-item:hover {
  background: orange;
  opacity: 0.2;
  color: #fff;
}

.decision {
  background: skyblue;
  color: #fff;
}
